@{
    ViewBag.Title = "Home Page";
}

<div ng-app="app">
    <div ng-controller="BibleStudyCtrl">
        <div class="row">
            <ol class="list-unstyled">
                <li ng-repeat="chapter in chapters"><strong>{{chapter.bookName}} {{chapter.number}}</strong>
                    <ol start="1">
                        <li ng-repeat="verse in chapter.verses">{{verse.text}}</li>
                    </ol>
                </li>
            </ol>
            <button class="btn btn-default" ng-click="next()">Next in Queue</button>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/AppScripts/app.js"></script>
}
